@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins";
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

.container {
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	transform-style: preserve-3d;
	background-color: transparent;
	min-height: 80vh;
	width: 30vw;
	box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.1), 0px 0px 50px rgba(0, 0, 0, 0.1);
	padding: 0 3rem;
	border-radius: 30px;
	padding-bottom: 2rem;
}

.sneaker {
	min-height: 35vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sneaker img {
	z-index: 3;
	width: 17rem;
	transition: all 0.75s ease-out;
}

.circle {
	position: absolute;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
	background: linear-gradient(
		to right,
		rgba(247, 76, 30, 1),
		rgba(0, 0, 0, 0.75)
	);
	z-index: 1;
}

.title {
	font-size: 3rem;
	transition: all 0.75s ease-out;
	/* transform: rotateZ(0px); */
}

.caption {
	font-size: 1.1rem;
	padding: 1rem 0;
	color: #585858;
	font-weight: lighter;
	transition: all 0.75s ease-out;
}

.sizes {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	transition: all 0.75s ease-out;
}

.sizes button {
	padding: 0.5rem 1.75rem;
	background: none;
	border: 0;
	outline: 0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	color: #585858;
}

.sizes button.active {
	background-color: #585858;
	color: #fff;
}

.purchase {
	margin-top: 4rem;
	transition: all 0.75s ease-out;
	margin-bottom: 2rem;
}

.purchase button {
	width: 100%;
	padding: 0.75rem 0;
	background: rgb(255, 117, 79);
	border-radius: 30px;
	border: 0;
	outline: 0;
	cursor: pointer;
}
